@import "../node_modules/normalize.css/normalize.css";
.btn-yellow-shabdiz {
  background-color: #fbd460;
}

@font-face {
  font-family: "yekan";
  src: url("../font/YekanWebBold.otf");
  font-weight: 200;
}
* {
  font-family: yekan;
}

#pp-nav {
  display: none;
}

.pp-tableCell {
  vertical-align: baseline;
}

#header {
  background: url("../img/page/index/background2.jpg");
  background-size: 500px;
  background-repeat: repeat;
}

#header {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 150px 110px 1fr;
  grid-template-areas: "side logo logo logo logo  logo" "side search search search search search" "side image image image image image";
}
#header .item {
  border: 2px #000 solid;
}
#header .header-side-left {
  grid-area: side;
  background-color: #fbd460;
  box-shadow: #CCCCCC 0px 0px 3px 1px;
  display: grid;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  direction: rtl;
}
#header .header-side-left .header-side-icon > .img-icon {
  color: #000000;
}
#header .header-side-left .header-side-icon > .img-icon img {
  width: 80px;
  height: 80px;
}
#header .header-side-left .header-side-icon > .text-icon {
  color: #bc0024;
}
#header .header-side-left .header-side-icon > .mini-text-icon {
  padding-top: 5px;
  color: #3c3c3c;
  font-size: 12px;
}
#header .header-side-left #qr-text {
  padding-top: 5px;
  font-size: 13px;
}
#header .header-top {
  padding: 0 7%;
  grid-area: logo;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-top .logo {
  position: relative;
}
#header .header-top .logo img {
  position: absolute;
  top: -45px;
  right: 25px;
  width: 120px;
}
#header .header-top .logo .logo > img::before {
  content: "";
  width: 100%;
  border-bottom: solid 1px #fff;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
#header .header-top .logo .logo > img::after {
  content: "";
  width: 100%;
  border-bottom: solid 1px #fff;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
#header .header-top .menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header-top .menu-icon #text-menu-icon {
  display: inline-block;
  font-size: 30px;
  transform: rotateZ(90deg);
}
#header .header-top .menu-icon span {
  padding-right: 10px;
  padding-bottom: 8px;
  display: inline-block;
}
#header .header-menu-top {
  grid-area: menu;
}
#header .header-search-center {
  grid-area: search;
  direction: rtl;
}
#header .header-search-center #search-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header-search-center #title-search {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
#header .header-search-center #title-search p {
  color: #4c4c4c;
  font-size: 20px;
}
#header .header-search-center div button {
  background-color: #bc0024;
  color: white;
  font-size: 13px;
  padding: 12px 12px;
  border-top-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border: none;
  outline: none;
}
#header .header-search-center div input {
  height: 39px;
  width: 400px;
  border: #d2d2d2 1px solid;
  outline: none;
}
#header .header-search-center div input::placeholder {
  color: #a5a5a5;
  padding-right: 15px;
  font-size: 13px;
}
#header .header-search-center div .header-select {
  width: 100px;
  height: 39px;
  outline: none;
  font-size: 13px;
  padding-right: 10px;
  border: #d2d2d2 1px solid;
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  color: #4c4c4c;
}
#header .header-image-bottom {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#header .header-image-bottom .img-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#header .header-image-bottom #chagho {
  margin-right: 80px;
  height: 300px;
  width: 40px;
}
#header .header-image-bottom #sos2 {
  margin-left: 35px;
  height: 120px;
  width: 120px;
  margin-bottom: 30px;
}
#header .header-image-bottom .img-pizza img {
  width: 500px;
}
#header .header-image-bottom .img-fork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#header .header-image-bottom #sos {
  margin-right: 50px;
  height: 120px;
  width: 120px;
  margin-bottom: 30px;
}
#header .header-image-bottom #changal {
  margin-left: 80px;
  height: 300px;
  width: 50px;
}

/*# sourceMappingURL=index.css.map */
